@import "src/scss/theme";

:host {
  .loader-label {
    margin: 30px 0;
  }
  .new-event-form {
    // max-width: 384px;
    .form-label {
      margin: 30px 0;
      .mat-icon {
        margin-right: 10px;
        height: 30px;
        width: 30px;
        font-size: 32px;
        color: rgba(0, 0, 0, 0.7);
      }
      .form-label-title {
        margin: 0;
        font-size: 28px;
        color: rgba(0, 0, 0, 0.7);
      }
    }
    .mat-form-field {
      width: 100%;
    }
    .mat-icon {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
